In [18]:
import pandas as pd
import os
from itertools import groupby
import pickle

In [2]:
REP_DATA = 'data'

In [3]:
# liste des répertoires 
content_list = os.listdir(REP_DATA)

In [11]:
# on va construire un dictionnaire qui associe à chaque racine répertoire
# une liste des répertoires qui ont même racine
# utilisation de groupby d'itertools qui crée un itérateur sur une clé
# et qui renvoie la clé ET l'itérateur du groupe résultant
racine_dict = {}
for racine, group_rep in groupby(content_list, lambda nom: nom.split('_')[0]):
    racine_dict[racine] = list(group_rep)

In [12]:
racine_dict

{'rep1': ['rep1_a', 'rep1_b', 'rep1_c'],
 'rep2': ['rep2_a', 'rep2_b'],
 'rep3': ['rep3_a']}

In [13]:
# on a plus qu'à itérer sur le dictionnaire pour créer un dictionnaire de dataframe
dict_df = {}
for rac, reps in racine_dict.items():
    df_list = []
    for rep in reps:
        df_temp = pd.read_csv('data/'+rep + '/file.csv', sep = ';')
        df_list.append(df_temp)
    dict_df[rac]=pd.concat(df_list, ignore_index=True)

In [17]:
dict_df['rep2']

   id  val
0   1    1
1   2    4
2   3    9
3   4   16
4   1    1
5   2    4
6   3    9
7   4   16

In [19]:
# on va sauvegarder cet objet python complexe
# un dicionnaire de dataframe !
# grace à pickle
with open('dict_df.pkl', 'wb') as file:      
    pickle.dump(dict_df, file)

In [21]:
# on récupère la donnée sous une autre var par ex
with open('dict_df.pkl', 'rb') as file:
    new_dict = pickle.load(file)

new_dict['rep2']

   id  val
0   1    1
1   2    4
2   3    9
3   4   16
4   1    1
5   2    4
6   3    9
7   4   16